{% extends 'student/base.html' %}
{% block title %}Student Dashboard{% endblock%}

{% block content %}
<!-- Container fluid -->
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-lg-flex justify-content-between align-items-center">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Dashboard</h1>
                    <h1 class="mb-0 h5 fw-light">Welcome Back, {{current_user.name}}.</h1>

                </div>
                <div class="d-flex">
                    <div class="input-group me-3  ">
                        <input class="form-control flatpickr" type="text" placeholder="Select Date"
                            aria-describedby="basic-addon2">

                        <span class="input-group-text text-muted" id="basic-addon2"><i
                                class="fe fe-calendar"></i></span>

                    </div>
                    <a href="#" class="btn btn-primary">Setting</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
                        <div>
                            <span class="fs-6 text-uppercase fw-semibold">Category</span>
                        </div>
                        <div>
                            <span class="fe fe-shopping-bag fs-3 text-primary"></span>
                        </div>
                    </div>
                    <h2 class="fw-bold mb-1">
                        {{category.total}}
                    </h2>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
                        <div>
                            <span class="fs-6 text-uppercase fw-semibold">Books</span>
                        </div>
                        <div>
                            <span class=" fe fe-book-open fs-3 text-primary"></span>
                        </div>
                    </div>
                    <h2 class="fw-bold mb-1">
                        {{book.total}}
                    </h2>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
                        <div>
                            <span class="fs-6 text-uppercase fw-semibold">Issued Books</span>
                        </div>
                        <div>
                            <span class=" fe fe-book fs-3 text-primary"></span>
                        </div>
                    </div>
                    <h2 class="fw-bold mb-1">
                        {{issue.total}}
                    </h2>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
                        <div>
                            <span class="fs-6 text-uppercase fw-semibold">Fine</span>
                        </div>
                        <div>
                            <span class=" fe fe-file fs-3 text-primary"></span>
                        </div>
                    </div>
                    <h2 class="fw-bold mb-1">
                        {{fine.total}}
                    </h2>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
                        <div>
                            <span class="fs-6 text-uppercase fw-semibold">Reserved Books</span>
                        </div>
                        <div>
                            <span class=" fe fe-book fs-3 text-primary"></span>
                        </div>
                    </div>
                    <h2 class="fw-bold mb-1">
                        {{reserve.total}}
                    </h2>

                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-4">
            <!-- Card -->
            <div class="card h-100">
                <!-- Card header -->
                <div class="card-header d-flex align-items-center
                        justify-content-between card-header-height">
                    <h4 class="mb-0">Recently added books</h4>
                    <a href="{{ url_for('librarian.books')}}" class="btn btn-outline-secondary btn-sm">View all</a>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <!-- List group flush -->
                    <ul class="list-group list-group-flush">

                        {% for book in book.items %}
                        <!-- List group -->
                        <li class="list-group-item px-0">
                            <div class="row">
                                <div class="col-auto">
                                    <a href="#"><img src="{{ url_for('librarian.upload', filename=book.img_upload)}}"
                                            alt="" class="img-fluid rounded img-4by3-lg"></a>
                                </div>
                                <div class="col ps-0">
                                    <a href="#">
                                        <h5 class="text-primary-hover txt">
                                            {{book.title}}
                                        </h5>
                                    </a>
                                    <div class="d-flex align-items-center">
                                        <img src="../../assets/images/avatar/06.png" alt=""
                                            class="rounded-circle avatar-xs me-2">
                                        <span class="fs-6">{{book.author.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card header -->
                <div
                    class="card-header d-flex justify-content-between align-items-center border-bottom-0 card-header-height">
                    <h4 class="mb-0">Overdue's History</h4>
                    <a href="{{ url_for('librarian.fine')}}" class="btn btn-outline-secondary btn-sm">View all</a>

                </div>
                <!-- Table -->
                <div class="table-responsive border-0 overflow-y-hidden">
                    <table class="table mb-0 text-nowrap table-hover table-centered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">MATRIC NO</th>
                                <th scope="col">BOOK TITLE</th>
                                <th scope="col">BOOK ISBN</th>
                                <th scope="col">DUE DATE</th>
                                <th scope="col">FINE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fine in fine.items %}
                            <tr>
                                <td>
                                    <h5 class="mb-0">
                                        <a href="#" class="text-inherit">
                                            {{fine.student.matric_no}}
                                        </a>
                                    </h5>
                                </td>

                                <td>
                                    <a href="#" class="text-inherit">{{fine.issue[0].books.title}}</a>
                                </td>

                                <td>
                                    <h5 class="mb-0">
                                        <a href="#" class="text-inherit">
                                            {{fine.issue[0].books.isbn}}
                                        </a>
                                    </h5>
                                </td>

                                <td>
                                    <h5 class="mb-0">
                                        <a href="#" class="text-inherit">
                                            {{ fine.issue[0].expiry_date.strftime('%Y-%m-%d ') }}
                                        </a>
                                    </h5>
                                </td>

                                <td>
                                    <h5 class="mb-0">
                                        <a href="#" class="text-inherit">
                                            ₦{{fine.amount}}
                                        </a>
                                    </h5>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card header -->
                <div
                    class="card-header d-flex justify-content-between align-items-center border-bottom-0 card-header-height">
                    <h4 class="mb-0">Recent Checkout's</h4>
                    <a href="{{ url_for('librarian.issued_book')}}" class="btn btn-outline-secondary btn-sm">View
                        all</a>
                </div>
                <!-- Table -->
                <div class="table-responsive border-0 overflow-y-hidden">
                    <table class="table mb-0 text-nowrap table-hover table-centered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col"> MATRIC NO</th>
                                <th scope="col">BOOK TITLE</th>
                                <th scope="col">BOOK ISBN</th>
                                <th scope="col">BOOK AUTHOR</th>
                                <th scope="col">ISSUE DATE</th>
                                <th scope="col">RETURN DATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for issue in issue.items %}
                            <tr>
                                <td>
                                    <a href="#" class="text-inherit">{{issue.student.matric_no}}</a>
                                </td>

                                <td>
                                    <a href="#" class="text-inherit">{{issue.books.title}}</a>
                                </td>

                                <td>
                                    <h5 class="mb-0">
                                        <a href="#" class="text-inherit">
                                            {{issue.books.isbn}}
                                        </a>
                                    </h5>
                                </td>

                                <td>
                                    <h5 class="mb-0">
                                        <a href="#" class="text-inherit">
                                            {{issue.books.author.name}}
                                        </a>
                                    </h5>
                                </td>

                                <td>
                                    <h5 class="mb-0">
                                        <a href="#" class="text-inherit">
                                            {{issue.issued_date.strftime('%Y-%m-%d ') }}
                                        </a>
                                    </h5>
                                </td>

                                <td>
                                    {% if issue.return_date is none %}
                                    <h5 class="mb-0">
                                        <a href="#" class="text-inherit">
                                            Not returned
                                        </a>
                                    </h5>
                                    {% else %}
                                    <h5 class="mb-0">
                                        <a href="#" class="text-inherit">
                                            {{issue.return_date.strftime('%Y-%m-%d ') }}
                                        </a>
                                    </h5>
                                    {% endif %}
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}