{% extends 'librarian/base.html' %}
{% block title %}Add Student{% endblock%}
{% block content %}
<section class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 ">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold"> Add Student </h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('librarian.dashboard')}}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Student</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Add Student
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="offset-xl-3 col-xl-6 col-12">
            <!-- card -->
            <form action="{{ url_for('librarian.add_student') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}                    
                <div class="card mb-4">
                    <!-- card body -->
                    <div class="card-body">
                        <h4 class="mb-4">Student Overview</h4>

                        <!-- row -->
                        <div class="row gx-3">
                            <!-- input -->
                            <div class="mb-3 ">
                                {{ form.name.label(for="name", class="form-label")}}
                                {{ form.name(class="form-control" ,id="name", placeholder="Enter Student full name")}}
                                {% if form.name.errors %}
                                <ul class="errors">
                                {% for error in form.name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}

                            </div>  

                            <!-- input -->
                            <div class="mb-3 ">
                                {{ form.password.label(for="password", class="form-label")}}
                                {{ form.password(class="form-control" ,id="password", placeholder="Enter Student password")}}
                                {% if form.password.errors %}
                                <ul class="errors">
                                {% for error in form.password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </div>  

                             <!-- input -->
                             <div class="mb-3 ">
                                {{ form.matric_no.label(for="matric_no", class="form-label")}}
                                {{ form.matric_no(class="form-control" ,id="matric_no", placeholder="Enter Student matric number")}}
                                {% if form.matric_no.errors %}
                                <ul class="errors">
                                {% for error in form.matric_no.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </div>  

                             <!-- input -->
                             <div class="mb-3 ">
                                {{ form.department.label(for="department", class="form-label")}}
                                {{ form.department(class="form-control" ,id="department", placeholder="Enter Student department")}}
                                {% if form.department.errors %}
                                <ul class="errors">
                                {% for error in form.department.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </div>  

                             <!-- input -->
                             <div class="mb-3 ">
                                {{ form.email.label(for="email", class="form-label")}}
                                {{ form.email(class="form-control" ,id="email", placeholder="Enter Student email")}}
                                {% if form.email.errors %}
                                <ul class="errors">
                                {% for error in form.email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </div>  

                             <!-- input -->
                             <div class="mb-3 ">
                                {{ form.img_upload.label(for="img_upload", class="form-label")}}
                                {{ form.img_upload(class="form-control" ,id="img_upload", placeholder="Enter Student img_upload")}}
                                {% if form.img_upload.errors %}
                                <ul class="errors">
                                {% for error in form.img_upload.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </div>  

                            <div class="form-check">
                                {{ form.student_status(class="form-check-input", id="student_status")}}
                                {{ form.student_status.label(class="form-check-label" ,for="student_status")}}    
                            </div>
                        </div>

                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <!-- buttons -->
                    <a href="{{ url_for('librarian.students')}}" class="btn btn-outline-primary me-2">Cancel</a> 
                    {{ form.submit(class="btn btn-primary",type="submit")}}
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}