{% extends 'librarian/base.html' %}
{% block title %}Issued Books{% endblock %}
{% block content %}
<section class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Issued Books <span class="fs-5 text-muted">({{issue.total}} )</span></h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('librarian.dashboard')}}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Books
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    <a href="{{ url_for('librarian.issue_book')}}" class="btn btn-primary me-2">Issue Book</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card rounded-3">
                <!-- Card Header -->
                <div class="card-header border-bottom-0 p-0">
                    <ul class="nav nav-lb-tab" id="tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="all-tab" data-bs-toggle="pill" href="#all" role="tab"
                                aria-controls="all" aria-selected="true">All</a>
                        </li>
                    </ul>
                </div>
                <div class="p-4 row">
                    <!-- Form -->
                    <form action="{{ url_for('librarian.search_issue') }}" method="post"
                        class="d-flex align-items-center col-12 col-md-8 col-lg-3">
                        {{ form.hidden_tag() }}
                        <span class="position-absolute ps-3 search-icon">
                            <i class="fe fe-search"></i>
                        </span>
                        {{ form.query(class="form-control ps-6", placeholder="Filter Issued Book by date")}}
                        {% if form.query.errors %}
                        <ul class="errors">
                            {% for error in form.query.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </form>

                </div>
                <div>

                    <div class="tab-content" id="tabContent">
                        <!-- Tab -->
                        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                            <div class="table-responsive border-0">
                                <!-- Table -->
                                <table class="table mb-0 text-nowrap table-hover table-centered table-with-checkbox">
                                    <!-- Table Head -->
                                    <thead class="table-light">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Book Title</th>
                                            <th>Book Isbn</th>
                                            <th>Matric no</th>
                                            <th>Issue date</th>
                                            <th>Due date</th>
                                            <th>Return date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if issue is none %}
                                        <tr>
                                            <td>No book issued found for the search query.</td>
                                        </tr>
                                        {% else %}
                                        {% for issue in issue.items %}
                                 
                                        <!-- Table body -->
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="productOne">
                                                    <label class="form-check-label" for="productOne"></label>
                                                </div>
                                            </td>

                                            <td>
                                                <a href="#" class="text-inherit">
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <img src="{{ url_for('librarian.upload', filename=issue.books.img_upload)}}"
                                                                alt="" class="img-4by3-md rounded">
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" class="text-inherit">
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-3">
                                                            <h5 class="mb-0 text-primary-hover txt">
                                                                {{issue.books.title}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" class="text-inherit">
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-3">
                                                            <h5 class="mb-0 text-primary-hover txt">
                                                                {{issue.books.isbn}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>

                                            <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-3">
                                                            <h5 class="mb-0 text-primary-hover txt">
                                                                {{issue.student.matric_no}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                            </td>
                                            
                                            <td>
                                                <a href="#" class="text-inherit">
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-3">
                                                            <h5 class="mb-0 text-primary-hover txt">
                                                                {{ issue.issued_date.strftime('%Y-%m-%d ') }}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" class="text-inherit">
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-3">
                                                            <h5 class="mb-0 text-primary-hover txt">
                                                                {{ issue.expiry_date.strftime('%Y-%m-%d ') }}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" class="text-inherit">
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-3">
                                                            {% if issue.return_date is none %}
                                                            <h5 class="mb-0 text-primary-hover txt">      
                                                                    <a href="{{ url_for('librarian.return_book', issue_id=issue.id) }}" class="btn btn-primary me-2">Return Book</a>
                                                            </h5>
                                                            {% else %}
                                                            <h5 class="mb-0 text-primary-hover txt">
                                                                {{issue.return_date.strftime('%Y-%m-%d ')}}
                                                            </h5>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>

                                            <td></td>

                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Card Footer -->
                {% if issue is none %}

                {% else %}
                <div class="card-footer d-md-flex justify-content-between align-items-center">
                    <div>
                        <span>Showing issue from page {{issue.first}} to {{issue.last}} of {{issue.total}}</span>
                    </div>

                    <nav>
                        <ul class="pagination  mb-0 mt-2">
                            {% if issue.has_prev %}
                            <li class="page-item disabled">
                                <a class="page-link mx-1 rounded"
                                    href="{{ url_for('librarian.issued_book', page=issue.prev_num) }}"><i
                                        class="mdi mdi-chevron-left"></i></a>
                            </li>
                            {% endif %}

                            {% for number in issue.iter_pages() %}
                            {% if issue.page != number %}
                            <li class="page-item">
                                <a class="page-link mx-1 rounded"
                                    href="{{ url_for('librarian.issued_book', page=number) }}">{{ number }}</a>
                            </li>
                            {% else %}
                            <li class="page-item active">
                                <a class="page-link mx-1 rounded" href="#">{{ number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}

                            {% if issue.has_next %}
                            <li class="page-item">
                                <a class="page-link mx-1 rounded"
                                    href="{{ url_for('librarian.issue_book', page=issue.next_num) }}"><i
                                        class="mdi mdi-chevron-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}