{% extends 'librarian/base.html' %}
{% block title %}Issue Book {% endblock%}
{% block content %}
<section class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 ">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold"> Issue Book </h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('librarian.dashboard')}}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('librarian.issued_book') }}">Issued Book </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Issue Book
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="offset-xl-3 col-xl-6 col-12">
            <!-- card -->
            <form action="{{ url_for('librarian.issue_book') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="card mb-4">
                    <!-- card body -->
                    <div class="card-body">
                        <h4 class="mb-4">Book Issue Overview</h4>

                        <!-- row -->
                        <div class="row gx-3">

                            <!-- input -->
                            <div class="mb-3 ">
                                {{ form.book_isbn.label(for="book_isbn", class="form-label")}}
                                {{ form.book_isbn(class="form-control" ,id="book_isbn")}}
                                {% if form.book_isbn.errors %}
                                <ul class="errors">
                                    {% for error in form.book_isbn.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                            <!-- input -->
                            <div class="mb-3 ">
                                {{ form.matric_no.label(for="matric_no", class="form-label")}}
                                {{ form.matric_no(class="form-control" ,id="matric_no")}}
                                {% if form.matric_no.errors %}
                                <ul class="errors">
                                    {% for error in form.matric_no.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <!-- buttons -->
                    <a href="{{ url_for('librarian.issued_book')}}" class="btn btn-outline-primary me-2">Cancel</a>
                    {{ form.submit(class="btn btn-primary",type="submit")}}
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}