{% extends 'librarian/base.html' %}
{% block title %}Total Transaction{% endblock %}
{% block content %}
<section class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Transaction <span class="fs-5 text-muted">({{payment.total}} )</span>
                    </h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('librarian.dashboard')}}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Transactions
                            </li>
                        </ol>
                    </nav>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <!-- Card -->
                <div class="card rounded-3">
                    <!-- Card Header -->
                    <div class="card-header border-bottom-0 p-0">
                        <ul class="nav nav-lb-tab" id="tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="all-tab" data-bs-toggle="pill" href="#all" role="tab"
                                    aria-controls="all" aria-selected="true">All</a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-4 row">
                        <!-- Form -->
                        <form action="{{ url_for('librarian.search_transaction') }}" method="post"
                            class="d-flex align-items-center col-12 col-md-8 col-lg-3">
                            {{ form.hidden_tag() }}
                            <span class="position-absolute ps-3 search-icon">
                                <i class="fe fe-search"></i>
                            </span>
                            {{ form.query(class="form-control ps-6", placeholder="Filter transaction by id, ref")}}
                            {% if form.query.errors %}
                            <ul class="errors">
                                {% for error in form.query.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                        </form>

                    </div>
                    <div>

                        <div class="tab-content" id="tabContent">
                            <!-- Tab -->
                            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                                <div class="table-responsive border-0">
                                    <!-- Table -->
                                    <table
                                        class="table mb-0 text-nowrap table-hover table-centered table-with-checkbox">
                                        <!-- Table Head -->
                                        <thead class="table-light">
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Reg no</th>
                                                <th>Transaction id</th>
                                                <th>Transaction ref</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if payment is none %}
                                            <tr>
                                                <td>No payment found for the search query.</td>
                                            </tr>
                                            {% else %}
                                            {% for payment in payment.items %}
                                            <!-- Table body -->
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="productOne">
                                                        <label class="form-check-label" for="productOne"></label>
                                                    </div>
                                                </td>


                                                <td>
                                                    <a href="#" class="text-inherit">
                                                        <div class="d-flex align-items-center">
                                                            <div class="ms-3">
                                                                <h5 class="mb-0 text-primary-hover txt">
                                                                    {{payment.student.name}}
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-inherit">
                                                        <div class="d-flex align-items-center">
                                                            <div class="ms-3">
                                                                <h5 class="mb-0 text-primary-hover txt">
                                                                    {{payment.student.matric_no}}
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>

                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-3">
                                                            <h5 class="mb-0 text-primary-hover txt">
                                                                {{payment.transaction_id}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-inherit">
                                                        <div class="d-flex align-items-center">
                                                            <div class="ms-3">
                                                                <h5 class="mb-0 text-primary-hover ">
                                                                    {{payment.transaction_ref}}
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-inherit">
                                                        <div class="d-flex align-items-center">
                                                            <div class="ms-3">
                                                                <h5 class="mb-0 text-primary-hover txt">
                                                                    ₦{{payment.amount}}
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>


                                                <td>
                                                    <a href="#" class="text-inherit">
                                                        <div class="d-flex align-items-center">
                                                            <div class="ms-3">
                                                                {% if payment.status == "successful" %}
                                                                <h5 class="mb-0 text-primary-hover txt">
                                                                    <span
                                                                        class="badge bg-success badge-dot me-1"></span>
                                                                    {{payment.status}}
                                                                </h5>
                                                                {% else %}
                                                                <h5 class="mb-0 text-primary-hover txt">
                                                                    <span class="badge bg-danger badge-dot me-1"></span>
                                                                    {{payment.status}}
                                                                </h5>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-inherit">
                                                        <div class="d-flex align-items-center">
                                                            <div class="ms-3">
                                                                <h5 class="mb-0 text-primary-hover txt">
                                                                    {{ payment.payment_date.strftime('%Y-%m-%d ') }}
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>

                                                <td></td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Card Footer -->
                    {% if payment is none %}

                    {% else %}
                    <div class="card-footer d-md-flex justify-content-between align-items-center">
                        <div>
                            <span>Showing payment from page {{payment.first}} to {{payment.last}} of
                                {{payment.total}}</span>
                        </div>

                        <nav>
                            <ul class="pagination  mb-0 mt-2">
                                {% if payment.has_prev %}
                                <li class="page-item disabled">
                                    <a class="page-link mx-1 rounded"
                                        href="{{ url_for('librarian.payment', page=payment.prev_num) }}"><i
                                            class="mdi mdi-chevron-left"></i></a>
                                </li>
                                {% endif %}

                                {% for number in payment.iter_pages() %}
                                {% if payment.page != number %}
                                <li class="page-item">
                                    <a class="page-link mx-1 rounded"
                                        href="{{ url_for('librarian.payment', page=number) }}">{{ number }}</a>
                                </li>
                                {% else %}
                                <li class="page-item active">
                                    <a class="page-link mx-1 rounded" href="#">{{ number }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% if payment.has_next %}
                                <li class="page-item">
                                    <a class="page-link mx-1 rounded"
                                        href="{{ url_for('librarian.payment', page=payment.next_num) }}"><i
                                            class="mdi mdi-chevron-right"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</section>
{% endblock %}