*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white-colour: #F7F8FC;
    --blue-colour: #0589D2;
    --ash-colour: #CCD2E3;
    --light-red-colour: #F67786;
    --text-colour: #4F5977;
}

.body{
    background-color: var(--white-colour)
}

section{
    display: flex;
    background-color: var(--white-colour);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.auth .container{
    width: 100%;
}

.auth .container p{
    font-size: 14px;
    text-align: center;
}

.auth form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth form h1{
  padding-bottom: 38px;
  color: var(--blue-colour);
  font-weight: 500;
  font-size: 25px;
}

.auth .form-floating{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
}

.auth .form-floating .eye-slash{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--blue-colour);
    border-radius:0px 20px 20px 0px ;
}
.eye-slash i{
    color: var(--white-colour);
}
.auth .form-floating input, .auth form .btn {
    border-radius: 20px;
}

.auth .form-floating .f{
   border-radius: 20px 0px 0px 20px ;
}


.auth .form-floating label{
    color: var(--text-colour);
}

.auth .form-check{
    align-self: flex-start;
}
.auth .form-check label{
    color: var(--blue-colour);
}

.auth-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.auth-footer a{
    color: var(--light-red-colour);
    font-size: 15px;
    text-decoration: none;
}
.errors{
    align-self: flex-start;
    color: var(--light-red-colour);
    font-size: 13px;
}

.alert{
    margin: 10px;
}