*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Balsamiq Sans', cursive;
    font-family: 'Poppins', sans-serif; */
}

:root{
    --white-colour: #F7F8FC;
    --blue-colour: #0589D2;
    --ash-colour: #CCD2E3;
    --light-red-colour: #F67786;
    --text-colour: #4F5977;
}

.alert{
    margin: 10px;
    text-align: center;
}
#nav-img{
    text-align: center;
}
#nav-img img{
    width: 60px;
    height: 60px;
}

.errors{
    color: #F67786;
}

.txt{
    text-transform: capitalize;
}

.photo, #ph{
    width: 5.25rem;
    height: 5.25rem;
    object-fit: cover
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover
}

.bg-home{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
